/* CSS HEX */
/* --crimson: #d7263dff;
--oxford-blue: #02182bff;
--dodger-blue: #0197f6ff;
--blue-munsell: #448fa3ff;
--middle-blue: #68c5dbff;
#00926D
#008080
*/
.post-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  margin: 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px 10px #b2beb5;
}

.title {
  padding: 0px 35px;
  /* border: #0197f6ff solid 2px; */
  /* background-color: #c1e7f0; */
  letter-spacing: 1.5px;
  border-radius: 25px;
}

hr {
  border: none;
  border-top: 1px solid #b2beb5;
}

.description {
  padding: 0px 35px;
  /* background-color: #5da8bb; */
  border-radius: 25px;
  line-height: 1.5;
  text-align: justify;
  font-size: 14px;
}

.post-bottom {
  padding: 7px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.anchor:link,
.anchor:visited {
  color: #000;
  text-decoration: none;
}
.anchor:hover,
.anchor:active {
  color: #000;
  background-color: inherit;
}

/* .liked:hover {
  color: #000;
}

.unliked:hover {
  fill: #0197f6ff;
} */

.like a {
  display: inline-block;
}

.like {
  display: flex;
  gap: 5px;
}
.anchor span {
  font-size: 12px;
}

.anchor-flex {
  display: flex;
  flex-direction: column;
  gap: -2px;
}
.bold {
  font-weight: 600;
}
